# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# Uploads
backend/app/uploads/*
!backend/app/uploads/.gitkeep
