APP_NAME=CasaEnPlenitudApp API
API_V1_PREFIX=/api/v1
SECRET_KEY=change-this-secret
ACCESS_TOKEN_EXPIRE_MINUTES=120
ALGORITHM=HS256
MYSQL_USER=root
MYSQL_PASSWORD=change-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=casa_en_plenitud
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=admin@casaenplenitud.local
INITIAL_ADMIN_PASSWORD=Admin1234!
